FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
GOOGLE_MAPS_API_KEY_CLIENT=
GOOGLE_MAPS_API_KEY_SERVER=
IDENTITY_PROVIDER_BASE_URL=
IDENTITY_PROVIDER_API_KEY=
NOTIFICATION_PROVIDER_KEY=
FEATURE_DEMO_MODE=true
FEATURE_SAPS_INTEGRATION=false
